.main-info-references {
    border-top: 0.1rem solid black;
    padding-top: 1rem;
    margin-bottom: 30rem;   
}

.main-info-references div {
    margin: 1rem;
    width: 23rem;    
    background-image: url('../Assets/Other-images/citat.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.main-info-references h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}