* {
    margin: 0;
    
}

body { 
   /* background-image: url(./Assets/background-image.jpg);*/
    background-position: center;
    background-size: cover;
    color: black;
}


.main-container {
    margin-top: 7rem;
    
    
}

.profile-view {
    /*background-color: aqua;*/
    height: 35rem;
    width: 20rem;
    margin: 1rem;
}

.heading-info {
    /*background-color: rosybrown;*/
    padding-bottom: 2rem;
    
}

.heading-info p {
    padding-top: 1rem;
}

.profile-picture {
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
}

.github {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.linkedin {
    width: 4rem;
    height: 4rem;
    margin-right: 0.3rem;
}

.heading-info-contact p {
    margin-left: 1rem;

}

.main-content {
    background-color: rgba(167, 187, 196, 0.289);
    height: auto;
    width: 50rem;
    margin: 1rem;
}

.main-info-profile {
    padding: 2rem;
    background-color: rgb(220, 243, 228);
    border-bottom: whitesmoke solid 0.6rem;
}

.main-info-portfolio {
    padding: 2rem;
    background-color: rgb(215, 236, 243);
        
}

.portfolio-links {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

li {
    margin-right: 1.5rem;
}

.main-info-education {
    /*padding: 2rem; */ 
}

.education-1 {
    background-color: rgb(241, 216, 241);
    border: whitesmoke 0.6rem solid;
    height: 6rem;
    padding: 1.4rem;
}
.education-2 {
    background-color: rgb(241, 216, 241);
    border-top: whitesmoke 0.6rem solid;
    border-right: whitesmoke 0.6rem solid;
    border-bottom: whitesmoke 0.6rem solid;
    height: 6rem;
    padding: 1.4rem;
}

.education-3 {
    background-color: rgb(241, 216, 241);
    border-right: whitesmoke 0.6rem solid;
    border-left: whitesmoke 0.6rem solid;
    border-bottom: whitesmoke 0.6rem solid;
    height: 6rem;
    padding: 1.4rem;
}

.education-4 {
    background-color: rgb(241, 216, 241);
    border-bottom: whitesmoke 0.6rem solid;
    border-right: whitesmoke 0.6rem solid;
    border-left: whitesmoke 0.6rem solid;
    height: 6rem;
    padding: 1.4rem;
}

.main-info-experience {
    padding: 2rem;
    background-color: rgb(243, 243, 198);
    border-bottom: whitesmoke 0.6rem solid;
   
}

.main-info-interests {
    padding: 2rem;    
}

.main-info-references {
    padding: 2rem;
        
}

h1 {
    font-family: 'Rock Salt', cursive;   
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

p {
    padding-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

hr {
    margin-top: 2rem;
}

.navigations {
    height: 35rem;
    width: 5rem;
    margin: 1rem;
    
}

.material-icons {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.icon-profile-image {
    width: 4rem;
    margin: 1rem;
}




/* Reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.justify-between {justify-content: space-between;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.text-center {text-align: center;}
.wrap {flex-wrap: wrap;}
.grow {flex-grow: 1;}
