* {
    margin: 0;
    box-sizing: border-box;   
}

.main-container {
    margin-top: 4rem; 
    margin-bottom: 4rem;    
}

.profile-view {
    width: 20rem;
    margin-right: 2rem;
    position: relative;  
}

.fixed-profile {position: fixed;}

.heading-info {padding-bottom: 2rem;}

.heading-info p {padding-top: 1rem;}

.profile-picture {
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
}

.github {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.github:hover {
    background-color: red;
    border-radius: 50%;
}

.linkedin {
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

.linkedin:hover {
    background-color: red;
    border-radius: 50%;
}

.heading-info-contact p {
    margin-left: 1rem;

}

.heading-info-contact .material-icons {
    font-size: 2rem;
}

.main-content {
    height: auto;
    width: 50rem;
    
}

/*.profile-container p {
    text-shadow: rgb(255, 0, 191) 0px 0px 40px, #f8a1d1 0px 0px 40px;
}*/

.main-info-profile {
    border-top: 0.1rem solid black;
    padding-top: 1rem;
}





.main-info-portfolio {
    border-top: 0.1rem solid black;
    padding-top: 1rem;
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
        
}

.catalogs {
    width: 36rem;
    height: 40rem;
    background-color: rgb(255, 139, 139);
    border-radius: 1rem;
}

.catalogs img {
    margin: 0.4rem;
}

.catalog-content {
    width: 36rem;
    height: 40rem;
}

.catalogs .overlay{
    width: 36rem;
}

#weldex {
    height: 18rem;
    width: 14rem;
}

#lpt {
    height: 18rem;
    width: 14rem;
}

.flyers {
    width: 49rem;
    height: 25rem;
    background-color: rgb(255, 139, 240);
    border-radius: 1rem;
}

.flyer-content {
    width: 49rem;
    height: 25rem;
}

.flyers img {
    margin: 0.4rem;
}

.flyers .overlay {
    width: 49rem;
}


.logotypes {
    width: 12rem;
    height: 40rem;
    background-color: rgb(218, 146, 146);
    border-radius: 1rem;
}

.logotypes .overlay {
    width: 12rem;
}

.logotype-content {
    width: 12rem;
    height: 40rem;
}

.logotypes img {
    margin: 0.4rem;
}

#logo-weldex {
    height: 5rem;
    width: 7rem;   
}

#logo-muskoka {
    height: 6rem;
    width: 6rem;
}

#logo-salong-space {
    height: 6rem;
    width: 5rem;
}

#logo-oneline {
    height: 3rem;
    width: 9rem;
}

#logo-is-direkt {
    height: 6rem;
    width: 6rem;
}

#logo-film-noir {
    height: 6rem;
    width: 6rem;
}



.catalog-content img {
  width: 18rem;
  height: auto;
}

.flyer-content img {
    width: 15rem;
    height: auto;
  }

.container {
   position: relative;
   margin: 0.5rem;    
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 49rem;
    height: 0;
    transition: 1s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  } 


.main-info-education {
    border-top: 0.1rem solid black;
    padding-top: 1rem;
}

.education {
    width: 11rem;
    height: 11rem;
    background-color: rgba(155, 240, 200, 0.685);
    border-radius: 1rem;
}

.education-info {
    width: 11rem;
    height: 11rem;
}

.red {
    color: red;
    font-weight: bolder;
}

.red-larger {
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}

.main-info-education .overlay {
    width: 11rem;
}

.employments {
    width: 24rem;
    height: 24rem;
    background-color: rgba(180, 89, 111, 0.685);
    border-radius: 1rem;
}

.employment-info {
    width: 24rem;
    height: 24rem;
}

.internships {
    width: 24rem;
    height: 24rem;
    background-color: rgba(170, 123, 135, 0.685);
    border-radius: 1rem;
}

.internship-info {
    width: 24rem;
    height: 24rem;
}



.main-info-experience {
    border-top: 0.1rem solid black;
    padding-top: 1rem;  
}

.main-info-interests {
    border-top: 0.1rem solid black;
    padding-top: 1rem;   
}

.main-info-interests img {
    width: 6rem;
}

.main-info-interests .material-icons {
    margin: 0.2rem;
}

/*.main-info-interests p {
    transform: rotate(-90deg);
}*/

.main-info-references {
    border-top: 0.1rem solid black;
    padding-top: 1rem;
    margin-bottom: 30rem;
    
}

.main-info-references div {
    margin: 1rem;
    width: 23rem;    
    background-image: url('./Assets/citat.png');
    background-repeat: no-repeat;
    background-size: contain;
    
    
}


h1 {
    font-family: 'Major Mono Display', monospace;
    width: 15rem;  
    text-align: center; 
    color: rgb(255, 72, 231);
}

#profession {
    font-family: 'Major Mono Display', monospace;
    font-weight: bolder;
    /*width: 10rem;*/
}
    /*white-space: nowrap;
    overflow: hidden; 
    animation: animated-text 4s steps(56,end) 5s 1 normal both,
            animated-cursor 600ms steps(56,end) infinite;*/

      
/* text animation */
/*@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}*/
      
/* cursor animations */
/*@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}*/



h2 {
    font-family: 'Major Mono Display', monospace;
    padding-bottom: 1rem;
    padding-top: 3rem;
    


}


p {font-family: Verdana, Geneva, Tahoma, sans-serif; }

.navigations {
    width: 5rem;
    position: relative;
    margin-left: 2rem;

}


.fixed-icons {
    position: fixed;
}

.fixed-icons:hover {
    cursor: default;
}

.material-icons {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.material-icons:hover {
    color: red;
}

.icon-profile-image {
    width: 4rem;
    margin-bottom: 1rem;
}

.icon-profile-image:hover {
    border: solid 0.4rem red;
    border-radius: 50%;
}

.main-info-interests h3 {
    background-color: red;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    color: rgb(238, 130, 238);
    margin-right: 1rem;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.main-info-interests div {
    margin-bottom: 1rem;
    background-color: rgba(238, 130, 238, 0.253);
    border-radius: 1rem;
    padding: 1rem;
}

.main-info-interests p {
    
    width: 7rem;
    text-align: center;
    color: red;
}

.main-info-references h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.justify-between {justify-content: space-between;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.text-center {text-align: center;}
.wrap {flex-wrap: wrap;}
.grow {flex-grow: 1;}


/* Media Queries */
@media all and (max-width: 1200px) {

    main {
        padding: 1rem;
    }

    .fixed-icons {
    
        position: initial;
        
    }

    .fixed-profile {
        position: inherit;
    }

    .navigations {
        display: none;
    }

    .github {
        width: 2rem;
        height: 2rem;
        margin-right: 0.7rem;
    }
    
    .linkedin {
        width: 2rem;
        height: 2rem;
        margin-right: 0.3rem;
    }
    .material-icons {
        font-size: 2rem;
        margin-right: 0.5rem;
    }
    .icon-profile-image {
        width: 2rem;
        padding-bottom: 1rem;
        margin-right: 0.5rem;
        margin-top: 1rem;
    }
    .main-container {
        margin-top: 0rem; 
        flex-wrap: wrap;
    }

    .main-content {
        width: 100%;
    }

    .profile-view {
        margin: 2rem;
        
    }
    .profile-picture {
        
        align-items: center;
    }

    .main-info-references {
        margin-bottom: 3rem;
        
    }

   
  

    
   
}

@media all and (max-width: 840px) {

    .flyers {
        width: 36rem;
        
    }

    .flyer-content img {
        width: 11rem;
        height: auto;
      }

    .flyer-content {
        width: 36rem;
    }  
    
      .flyers .overlay {
        width: 36rem;
    }

    .logotypes {
        width: 36rem;
        height: 20rem;
    }

    .logotype-content {
        width: 36rem;
        height: 20rem;
    }

    .logotypes .overlay {
        width: 36rem;
    }
    
}

@media all and (max-width: 600px) {

    .flyers {
        width: 24rem;
        height: 30rem;
    }

    .flyer-content img {
        width: 10rem;
        height: auto;
      }

    .flyer-content {
        width: 24rem;
    }  
    
      .flyers .overlay {
        width: 24rem;
    }

    .catalogs {
        width: 24rem;
        height: 40rem;
    }

    .weldex-table {
        display: none;
    }

    .lpt-table {
        display: none;
    }

    /*.catalog-content img {
        width: 10rem;
        height: auto;
      }*/

    .catalog-content {
        width: 24rem;
    }  
    
      .catalogs .overlay {
        width: 24rem;
    }

    .logotypes {
        width: 24rem;
        height: 20rem;
    }

    .logotype-content {
        width: 24rem;
        height: 20rem;
    }

    .logotypes .overlay {
        width: 24rem;
    }
    
}

@media all and (max-width: 400px) {

    .flyers {
        width: 18rem;
        height: 45rem;
    }

    .flyer-content img {
        width: 10rem;
        height: auto;
      }

    .flyer-content {
        width: 18rem;
    }  
    
      .flyers .overlay {
        width: 18rem;
    }

    .catalogs {
        width: 18rem;
        height: 40rem;
    }

    .weldex-table {
        display: none;
    }

    .lpt-table {
        display: none;
    }

    /*.catalog-content img {
        width: 10rem;
        height: auto;
      }*/

    .catalog-content {
        width: 18rem;
    }  
    
      .catalogs .overlay {
        width: 18rem;
    }


    .employments {
        width: 18rem;
    }

    .employment-info {
        width: 18rem;
    }  
    
      .employments .overlay {
        width: 18rem;
    }

    .internships {
        width: 18rem;
    }

    .internship-info {
        width: 18rem;
    }  
    
      .internships .overlay {
        width: 18rem;
    }

    .logotypes {
        width: 18rem;
        height: 20rem;
    }

    .logotype-content {
        width: 18rem;
        height: 20rem;
    }

    .logotypes .overlay {
        width: 18rem;
    }
    
}