* {
    margin: 0;
    
}

body { 
    background-image: url(./Assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    color: black;
}


.main-container {
    margin-top: 10rem;
    
    
}

.profile-view {
    /*background-color: aqua;*/
    height: 35rem;
    width: 20rem;
    margin: 1rem;
}

.heading-info {
    /*background-color: rosybrown;*/
    padding-bottom: 2rem;
    
}

.heading-info p {
    padding-top: 1rem;
}

.profile-picture {
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
}

.linkedin {
    width: 4rem;
    height: 4rem;
}

.heading-info-contact p {
    margin-left: 1rem;

}

.main-content {
    background-color: rgba(230, 230, 230, 0.289);
    height: auto;
    width: 50rem;
    margin: 1rem;
}

.main-info-profile {
    padding: 2rem;
        
}

.main-info-portfolio {
    padding: 2rem;
        
}

.portfolio-links {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

li {
    margin-right: 1.5rem;
}

.main-info-education {
    padding: 2rem;
   
}

.main-info-experience {
    padding: 2rem;
   
}

.main-info-interests {
    padding: 2rem;    
}

.main-info-references {
    padding: 2rem;
        
}

h1 {
    font-family: 'Rock Salt', cursive;   
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    padding-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

hr {
    margin-top: 2rem;
}

.navigations {
    height: 35rem;
    width: 5rem;
    margin: 1rem;
    
}

.material-icons {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.icon-profile-image {
    width: 4rem;
    margin: 1rem;
}




/* Reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.justify-between {justify-content: space-between;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.text-center {text-align: center;}
